/* body removed margin */
body {
  margin: 0px;
}
/* sitetile area styles */
.title-container {
  background-color: #ccc;
}
/* site name styles */
.sitetitle {
  margin: 0px;
  padding: 20px 0px 20px 20px;
}
/* menu bar area style */
.menucontainer {
  background-color: #333;
  font-size: 0px;
}
/* menu links styles */
.menuitem {
  display: inline-block;
  border-right: 1px solid #fff;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}
/* on hover style */
.menuitem:hover {
  background-color: #008c22;
}
/* page content area style */
.pagecontentcontainer{
display: flex;
}
/* left page area */
.leftpagecontent{
    padding: 15px;
}
/* left page heading */
.leftpagecontent h1{
    color: #003d60;
    margin: 0px;
}
/* right page area */
.rightpagecontent{
    background-color: #e0e0e0;
    padding: 20px;
}
/* right page heading */
.rightpagecontent h2{
    color: #074061;
    margin: 0px;
}
/* footer styles */
.footer{
    background-color: #cccccc;
    text-align: right;
    padding: 20px 15px 20px ;
}

